html, body {
    height: 100%;
}

html {
    color: #404040;
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.4;
    background: #fffefb;
}

body {
    margin: 0;
    text-align: center;
    width: 100%;
}

.centered {
    margin: auto;
}

.container {
    width: 50%;
}

header {
    width: 100%;
    padding: 0;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #000000;
    margin: .7rem 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1;
    display: inline-flex;
}

nav {
    display: inline-block;
    line-height: 0;
}

nav a {
    display: inline-block;
    height: 2.4rem;
}

nav img {
    /* padding: 0;
    margin: 0; */
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

div#place {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('images/background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

div#details {
    background: rgba(0, 0, 0, .5);
    padding: .5rem 0;
}

div#details h2 {
    margin: 0;
    color: #ffffff;
}

div#details h3 {
    margin: 0;
    color: #eeeeee;
    font-weight: 100;
}

div#details a {
    text-decoration: underline;
    text-decoration-color: #eeeeee;
}

div#distance {
    padding-bottom: 1.4em;
}

div.buttons {
    display: flex;
    justify-content: space-between;
}

div#price h4 {
    margin: 1.8rem 0 .5rem 0;
}

div#price input {
    display: none;
}
  
div#price label {
    display: inline-block;
    width: 20%;
    height: 2.8rem;
    color: #a0a0a0;
    text-align: center;
    border: 2px solid #a0a0a0;
    /* border-radius: .5rem; */
    line-height: 2.8rem;
    cursor: pointer;
  }
  
div#price input:checked + label{
    color: #404040;
    background: #8fdd98;
    border: 2px solid #216c2a;
}

div#price label {
    font-weight: 600;
}

button {
    background: #ffffff;
    width: 100%;
    margin-top: 1rem;
    padding: .6em;
    font-size: 1.6em;
    color: #404040;
    border: 3px solid #404040;
    border-radius: .5em;
    transition-duration: .3s;
}

button:hover {
    background-color: #404040;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    header {
        background: #1d1d1d;
        padding: .7rem 0 .7rem 0;
    }

    header div {
        justify-content: space-evenly;
    }

    h1 {
        font-size: 2.3em;
        color: #ffffff;
        margin: 0 0 .4rem 0;
    }

    nav a {
        height: 2.4rem;
    }

    main {
        height: 75%;
    }

    div#place {
        height: 64%;
    }

    div#form {
        width: 90%;
        margin: 0 auto;
    }

    div#options {
        justify-content: center;
        flex-wrap: wrap;
    }

    fieldset {
        width: 100%;
    }
}