html, body {
    height: 100%;
}

html {
    color: #404040;
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.4;
    background: #fffefb;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    width: 100%;
}

.centered {
    margin: 0 auto;
}

.container {
    width: 50%;
}

header {
    width: 100%;
    padding: 0;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #000000;
    margin: .7rem 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1;
    display: inline-flex;
}

nav {
    display: inline-block;
    line-height: 0;
}

nav a {
    display: inline-block;
    height: 2.4rem;
}

nav img {
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#place {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('images/background.jpg');
    background-size: cover;
    width: 100%;
    margin: 0;
}

div#details {
    background: rgba(0, 0, 0, .5);
    padding: .8rem 0 .4rem 0;
}

div#details h2, div#details h3 {
    margin: 0 auto;
    width: 98%;
}

div#details h2 {
    color: #ffffff;
}

div#details h3 {
    font-weight: 100;
}

div#details a {
    color: #e9e9e9;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

div#details a:hover {
    text-decoration: underline;
    color: #ffffff;
    text-decoration-color: #ffffff;
}

div#details a#yelp-url {
    text-decoration: none;
}

div#details #yelp {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#rating {
    display: none;
    margin: 0 1rem;
}

div#rating span {
    display: inline;
    color: #eeeeee;
    font-size: 1em;
    padding: 0 .4rem;
    position: relative;
    top: 2px;
}

div#rating img {
    vertical-align: middle;
}

div#details #yelp-logo {
    height: 4rem;
}

div#form {
    width: 70%;
}

#distance, #price {
    margin: .8rem 0 0 0;
}

div#form h4 {
    font-size: 1.2em;
    text-align: left;
    margin: 0;
}

div#distance input {
    display: none;
}

div.buttons {
    display: flex;
    justify-content: space-between;
}

div#price input {
    display: none;
}
  
div#price label {
    display: inline-block;
    width: 20%;
    height: 2.5rem;
    text-align: center;
    font-weight: 100;
    border: 2px solid #45ac51;
    border-right: none;
    line-height: 2.5rem;
    cursor: pointer;
}

div#price label:first-of-type {
    border-radius: .4rem 0 0 .4rem;
}

div#price label:last-of-type {
    border-right: 2px solid #45ac51;
    border-radius: 0 .4rem .4rem 0;
}
  
div#price input:checked + label{
    color: white;
    background: #45ac51;
}

button {
    background: #ffffff;
    width: 85%;
    margin: 1.2rem auto 0 auto;
    padding: 1rem;
    font-size: 1.6em;
    color: #404040;
    border: 3px solid #404040;
    border-radius: .6em;
    transition-duration: .3s;
}

button:hover {
    background-color: #404040;
    color: #ffffff;
    cursor: pointer;
}

footer {
    padding: .4rem 0;
    font-size: .6em;
}

footer p {
    margin: 0;
}

footer a {
    color: #404040;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    header {
        background: #1d1d1d;
        padding: .7rem 0 .7rem 0;
    }

    header div {
        justify-content: space-evenly;
    }

    h1 {
        font-size: 2.3em;
        color: #ffffff;
        margin: 0 0 .4rem 0;
    }

    nav a {
        height: 2.4rem;
    }

    main {
        flex: 1;
    }

    div#details #yelp {
        justify-content: space-between;
    }

    div#details #yelp-logo {
        margin-left: auto;
    }

    div#rating span {
        top: 1px;
    }

    #distance, #price, button {
        margin: .4rem 0 0 0;
    }

    div#form {
        width: 90%;
        margin: 0 auto;
    }

    div#form h4 {
        font-size: 1rem;
    }

    button {
        margin: .4rem auto;
        padding: .6rem;
        width: 90%;
    }

    footer {
        background: #1d1d1d;
        color: #ffffff;
        padding: .3rem 0 .3rem 0;
    }

    footer a {
        color: #ffffff;
    }
}